#advanced-blockqueue{
	position: absolute;
	right:10px;
	top:60px;
}

.blockqueue-table thead tr{
	background-color: #A4C8DA;
}

.blockqueue-table thead th{
	padding:5px;
}

#blockqueue-table-add{
	margin-top:10px;
}

#advanced-blockqueue-available-blocks-form fieldset {
	float:left;
	width: 250px;
}

#advanced-blockqueue-available-blocks-form .clear {
  clear:both;
}